<h2>Sample Queries</h2>

<ul>
  <li ng-repeat="sampleQuery in sampleQueries">
    <a ng-click="bindQuery(sampleQuery.key)">{{sampleQuery.key}}</a>
  </li>
</ul>

<br><br>

<h2>Custom Queries</h2>
To write your own OrientDB Graph queries, you can refer to <a href="http://www.orientdb.com/docs/last" target="_blank">OrientDB</a> documentation:<br>
<br>
<ul>
<li><a href="http://orientdb.com/docs/last/SQL.html" target="_blank">SQL reference</a></li>
<li><a href="http://orientdb.com/docs/last/SQL-Query.html" target="_blank">SELECT statement</a></li>
<li><a href="http://orientdb.com/docs/last/SQL-Traverse.html" target="_blank">TRAVERSE statement</a></li>
<li><a href="http://orientdb.com/docs/last/SQL-Match.html" target="_blank">MATCH statement</a></li>
</ul>
